$gutter: 30px;

$family--default: 'Candara', sans-serif;
$family--primary: Avenir, Helvetica, Arial, sans-serif;

$weight--light: 300;
$weight--regular: 400;
$weight--medium: 500;
$weight--bold: 700;

$color--text: #31314B;
$color--text-invert: #ffffff;
$color--dark: #2E2E49;
$color--primary: #6749E8;
$color--accent: #ff9900;
$color--positive: #59C0AB;
$color--negative: #F27288;
$color--info: #479AFD;
$color--neutral: #9499AC;
$color--border: #DCDCDC;
$color--main-bg: #F5F5FA;
